body 
{
    width: 960px;
    margin: 30px auto;
}

main 
{
    display: flex;
}

.padding_this
{
    padding: 15px;
}

.logo,
.konten1,
.sidebar1,
.konten2,
.sidebar2,
.konten3,
.sidebar3,
.konten4,
.sidebar4,
.footer 
{
    margin-bottom: 5px;
    padding: 15px 0;
}

.logo 
{
    width: 100%;
    height: auto;
    background: #37538f;
    text-align: center;
    color: #fff;
}

.konten1 
{
    width: 70%;
    background: #bbdcf1;
}

.sidebar1 
{
    width: 30%;
    background: #7490b9;
    text-align: center;
}

.konten2 
{
    width: 70%;
    background: #bbdcf1;
}

.sidebar2 
{
    width: 30%;
    background: #7490b9;
    text-align: center;
}

.konten3 
{
    width: 70%;
    background: #bbdcf1;
}

.sidebar3 
{
    width: 30%;
    background: #7490b9;
    text-align: center;
}

.konten4 
{
    width: 70%;
    background: #bbdcf1;
}

.sidebar4 
{
    width: 30%;
    background: #7490b9;
    text-align: center;
}

.footer 
{
    width: 100%;
    background: #C3C3C3;
    text-align: center;
}
